#popUp {
    position: fixed;
    display: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0002;
    backdrop-filter: blur(1px);
    z-index: 1;
}

#popUp[data-active] {
    display: flex;
}

#popUp form {
    max-width: 400px;
    width: 50vw;
    min-width: 200px;
    
    flex-direction: column;
    display: flex;
    padding: 30px;
    border-radius: 7px;
    background-color: white;
    filter: drop-shadow(2px 4px 6px black);
    gap: 2px
}

.status-pending {
    --fc-event-text-color: black;
    color: black;
    background-color: #c6c5b9;

}
.status-assigned {
    --fc-event-text-color: black;
    color: black;
    background-color: #62929E;

}
.status-done {
    --fc-event-text-color: black;
    color: black;
    background-color: #4A6D7C;

}
