<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/CSS/popupstyle.css">

<html>
<head>
    <br>
<script src='/static/JS/index.global.js'></script>
<script>
  var isAdmin = ("{{current_user.admin}}" === "True")
</script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    fetch("/getevents").then((response) => response.json().then(json => loadCalendar(json)));

    const loadCalendar = (allEvents) => {

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
      
        navLinks: true, // can click day/week names to navigate views
        businessHours: true,
        selectable: true,
        firstDay: 1,
        fixedWeekCount: false,
        eventClick: function(evt) {

          let popUpDialog = document.getElementById("popUp");
          popUpDialog.dataset.active = "";

          let updateForm = document.querySelector("#popUp form#completeTaskForm");
          if(updateForm) {
            updateForm.style.display = '';
          }
          // sluk for create form
          let createForm = document.querySelector("#popUp form#createTaskForm");
          if(createForm) {
            createForm.style.display = 'none';
          }
          let deleteButton = updateForm.querySelector("button#deleteEvent[type='submit']");
          if(deleteButton && isAdmin !== true) {
            deleteButton.style.display = 'none';
          }

          if (isAdmin === true) {
            updateForm.querySelector("input#eventName").readOnly = false;
            updateForm.querySelector("textarea#eventDescription").readOnly = false;
          }

          let id = evt.event.id;
          let eventName = evt.event.title;
          let description = evt.event.extendedProps?.description ?? "";
          let status = evt.event.extendedProps?.status ?? "pending";

          updateForm.querySelector(`input[name="id"]`).value = id;
          updateForm.querySelector(`input[name="eventname"]`).value = eventName;
          updateForm.querySelector("textarea#eventDescription").textContent=description;
          updateForm.querySelector(`input[type="radio"][name="status"][value="${status}"]`).checked = true;

        },
        dateClick: function(event) {
          if (isAdmin !== true) { return; }

          let popUpDialog = document.getElementById("popUp");
          popUpDialog.dataset.active = ""

          // sluk for complete form
          let completeForm = document.querySelector("#popUp form#completeTaskForm");
          if(completeForm) {
            completeForm.style.display = 'none';
          }
          let createForm = document.querySelector("#popUp form#createTaskForm");
          if(createForm) {
            createForm.style.display = '';
          }

          let dateElement = document.querySelector("#popUp form#createTaskForm input[name='startDate']");
          if(dateElement) {
            dateElement.setAttribute("value", event.dateStr);
          }

        },
        events: allEvents 

      });

      calendar.render();
    }
  });

</script>

</head>

<body>
    <div id='calendar'></div>
    <div id="popUp">
      <form id="createTaskForm" action="./addTask" method="post">
        <label>Create a task: </label>

        {{ form.id }}

        <label>Task name</label>
        {{ form.eventname(size=100) }}
        {% for error in form.eventname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <label>Task description</label>
        {{ form.description(size=500) }}
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ form.startDate.label }}
        {{ form.startDate(size=50, type="date") }}
        {% for error in form.startDate.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ form.endDate.label }}
        {{ form.endDate(size=50, type="date") }}
        {% for error in form.endDate.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ form.createEvent }}
        <button type="reset">Reset</button>
        <button type="button" onclick="cancelPopUp()">Cancel</button>
        
    </form>
    <form id="completeTaskForm" action="./updateTask" method="post">
      {{ form.id }}

      <label>Task name</label>
      <input type="text" readonly id="eventName" name="eventname" value="">
      
      <label>Task description</label>
      <textarea readonly id="eventDescription" name="description"></textarea>

      <label>Task status</label>
      <label>
        <input type="radio" name="status" value="pending">Pending
      </label>
      <label>
        <input type="radio" name="status" value="assigned">Assigned
      </label>
      <label>
        <input type="radio" name="status" value="done">Done
      </label>

      <button type="submit">Update task</button>
      {{ form.removeEvent }}

      <button type="submit" id="deleteEvent" onclick="markTaskForRemoval()">Remove task</button>  
      <button type="reset" onclick="cancelPopUp()">Cancel</button>

      <script>
        function cancelPopUp() {
          let popUpDialog = document.getElementById("popUp");
          delete popUpDialog.dataset.active; 
        }

        function markTaskForRemoval() {
          let removeTask = document.querySelector(`form#completeTaskForm input[name="removeEvent"]`);
          removeTask.value="remove";
        }

      </script>
    </form>
    </div>
  </body>

</html>

{% endblock %}